:root {
    --background-color: black;
    --logo-color: white;
}

body {
    background-color: black;
}

.first-layer {
    width: 200px;
    height: 200px;

    background-color: var(--logo-color);

    border: 8px solid var(--background-color);
    border-radius: 10%;

    position: absolute;
    top: 50px;
    left: 50px;
}

.second-layer {
    width: 150px;
    height: 150px;

    background-color: var(--logo-color);

    border: 8px solid var(--background-color);
    border-radius: 10%;

    position: absolute;
    top: 50px;
    left: 50px;
}

.third-layer {
    width: 100px;

    border: 4px solid var(--background-color);

    position: absolute;
    top: 100px;
    left: 50px;
}

.forth-layer {
    width: 50px;

    border: 4px solid var(--background-color);

    position: absolute;
    top: 150px;
    left: 100px;
}

.fig {
    transform: rotate(-45deg);
    transform-origin: 150px 150px;
}

.contact {
    width: 200px;
    height: 50px;

    color: var(--logo-color);
    text-align: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

    position: absolute;
    top: 300px;
    left: 70px;
}